body {font-family:Verdana, Tahoma, sans-serif; font-size:11px; font-weight:normal; background:#fff; text-align:center; color:#333; margin:0; padding:0;}
img {border:0; margin:0; padding:0;}
a {color:#093C68; text-decoration:none; font-weight:bold;}
a:hover {text-decoration:underline;}

/*wrap+head*/
#wrap {margin:0 auto; width:990px; background:url(../images/bg.png) repeat-y;}
#wrap_end {margin:0 auto; width:990px; background:url(../images/bg_end.png) no-repeat; display:block; height:16px;}
#wrap #top {height:130px; display:block; background:#B6CCDE url(../images/bg_logo.png) no-repeat 20px 20px; width:968px; margin:0 auto; text-align:right; font-size:13px; line-height:18px;}
#wrap #top span {position:relative; right:6px;}
#wrap #top #clientname {font-weight:bold;}
#wrap #top #panel {}
#wrap #top #client {}
#wrap #top #client img {vertical-align:top;}
#wrap #top #client a {color:#fff; font-weight:bold; text-decoration:underline;}
#wrap #top #action {color:#666; font-size:11px;}

/*top menu*/
#menu {overflow:hidden; width:968px; background:#fff; margin:0 auto; border-top:1px solid #6C8FAE; border-bottom:1px solid #6C8FAE; display:block; text-align:center; font-size:12px;}
#menu a {color:#666; font-weight:normal; height:35px; line-height:35px; text-decoration:none; padding:0 10px; margin: 0 10px; display:inline-block;}
#menu a:hover {color:#333;}
#menu a.active {color:#093C68; font-weight:bold;}

/*left menu*/
#maintab {width:968px; margin:0 auto; background:#F2F5F9; text-align:left;}

#maintab h1,#maintab h2,#maintab h3,#maintab h4,#maintab h5,#maintab h6 {font-weight:bold; font-size:13px; padding:0 0 20px 0; color:#093C68; font-family:Verdana, Tahoma, sans-serif; margin:0 0 0 0;}
#maintab h1 {padding-top:0;}
.center {text-align:center;}

#maintab #leftmenu {width:250px; background:#E0E9F1; vertical-align:top;}
#maintab #leftmenu span {display:block; padding:10px 5px 10px 15px; color:#093C68; font-weight:bold; background:url(../images/bg_menu_left.png) no-repeat 5px 15px;}
#maintab #leftmenu span a {display:block; font-weight:normal; color:#666;}

/*right content*/
#maintab #rightcontent {vertical-align:top;padding:10px 20px 200px 20px;}
#administrate,#tab-zlecenie {width:100%; border:1px solid #4483A2;}
#maintab #rightcontent table {}
#maintab #rightcontent table thead {text-transform:uppercase;}
#maintab #rightcontent table thead td {background:#4483A2; color:#fff; font-weight:bold; padding:2px 6px; text-align:center; border:none;}
#maintab #rightcontent table thead td a {color:#ff0;}
#maintab #rightcontent table tbody tr {background:#e9e9e9;}
#maintab #rightcontent table tbody tr.alt {background:#fff;}
#maintab #rightcontent table tbody tr.menu-header {background:#b2b2b2;}
#maintab #rightcontent table tbody tr td {padding:6px 12px; text-align:center;}
#maintab #rightcontent table.mceLayout tbody tr td {padding:0 0 0 0;}
#maintab #rightcontent table tfoot {background:#c1bfbf;}
#maintab #rightcontent table tfoot td {padding:6px 0px;}
tr.select {font-weight:bold;}
table, tr, td {border-spacing:0;}

#maintab #rightcontent #nowa tr td {padding:6px 12px; text-align:left; background:#fff;}
#maintab #rightcontent #nowa tr th {padding:6px 12px; text-align:left; background:#eee;}
#maintab #rightcontent #nowa tr th span {font-weight:normal;}
#maintab #rightcontent #nowa {width:100%; margin:5px 0 25px 0; background:#ccc; border-spacing:1px;}




#footer {width:968px; text-align:right; margin:10px auto 10px auto; color:#666;}
#footer a {color:#666; text-decoration:underline; font-weight:normal;}



.print {cursor:pointer; background:url(/templates/default/img/printer-icon.gif) no-repeat center left; float:right; padding:4px 4px 3px 40px; height:34px; line-height:34px; border:1px solid #ccc; margin:0 0 0 5px;}
.print:hover {background:#eee url(/templates/default/img/printer-icon.gif) no-repeat center left; color:#333;}
.pdf {cursor:pointer; background:url(/templates/default/img/pdf.gif) no-repeat center left; float:right; padding:4px 4px 3px 40px; height:34px; line-height:34px; border:1px solid #ccc; margin:0 0 0 5px;}
.pdf:hover {background:#eee url(/templates/default/img/pdf.gif) no-repeat center left; color:#333;}


/*OLD na dole ##############################################*/









/* Forms */
form {width:700px; margin:0; padding:0;}
form.in-table, form.in-table fieldset {margin:0; padding:0;}
fieldset {margin:0; border:0;}
legend {font-size:13px; font-family:Verdana, Tahoma, sans-serif; font-weight:bold; padding:0 0 20px 0; color:#144772;}
form fieldset div {clear:both; overflow:hidden; margin-bottom:6px;}
form fieldset div p {color:#d70000;}
label {display:block; width:120px; float:left; padding-top:3px; text-align:left;}
label span {margin-right:10px; display:inline;}
label span.b {font-weight:bold;}
label.long {width:200px;}
input, textarea, select {display:block; width:400px; float:left; background:#fff; border: 1px solid #666;}
input.short,textarea.short,select.short {width:200px;}
select {width:402px;}
select.inline {display:inline;}
input.check,input.radio {width:20px;}
input.check_left, input.radio_left {width:20px; display:inline;}
label.check_left, label.radio_left {width:auto; margin-left:6px;}
input.submit-first,input.submit,input.submit-first-long {margin-left:120px; margin-top:10px; display:inline; width:100px; font-size:12px; background:#0F406C; color:#fff; padding:4px; cursor:pointer; font-weight:bold; border:2px outset #fff;}
input.submit {margin-left:10px;}
a.add {margin-right:10px; float:right; font-size:11px; text-decoration:none; background:#d70000;  font-weight:normal; color:#fff; padding:3px; border:2px outset #fff;}

form input.submit-first-long {margin-left:200px;}
input.inline {display:inline; margin-left:10px;}
input.hidden {display:none;}
input.wyslij {background:url(../images/f_wyslij.jpg);}
input.aktualizuj {background:url(../images/f_aktualizuj.jpg);}
input.wyczysc {background:url(../images/f_wyczysc.jpg);}

input.in-table-short {width:120px;}
input.in-table-short-submit {width:100px; font-size:10px;}

input.jslink_pos { width: 30px; font-size: 11px; }
input.jslink_name { width: 200px; font-size: 11px; }
input.jslink_href { width: 160px; font-size: 11px; }
input.jslink_extra { width: 100px; font-size: 11px; }
input.jslink_submit { width: 100px; font-size: 11px; }

form#show {margin:30px 20px 0 0; width:600px;}
form#show legend { margin-bottom: 10px; }
form#show select { display: inline; float: left; width: 200px; }
form#show input.submit-show {display:inline; float:left; width:100px; margin-left:10px; cursor:pointer; border:1px outset #fff; font-size:12px; background:#0F406C; color:#fff; padding:1px;}

.mceToolbarTop * {
float:left;
}

.mceToolbarTop select {
width:auto!important;
}

.mceToolbarTop option {
float:none;
}

textarea.tiny { width: 550px; }

/* FORM Box */
form.box { width: 450px; margin-bottom: 14px; }
form.box legend { font-size: 12px; font-family: 'Trebuchet MS', Verdana, Tahoma, sans-serif; font-weight: bold; margin-bottom: 10px; margin-left: -4px; padding: 0px; color: #000; }
form.box select { display: inline; width: 280px; }
form.box input.submit { background: #eae8e8; border: 1px solid #acacac; width: auto; height: auto;  }

/* FORM access */
form.access { width: 130px; }
form.access input, form.access select { width: 120px; }
form.access input.sub { font-size: 10px; margin-top: 6px; }

.left {float:left;}
.right {float:right;}
.clear {clear:both;}

.green {color:green; font-weight:bold;}
.red {color:red; font-weight:bold;}

/* ERRORS AND SUCCESSFULL */
.errorBox, .message {width:600px; padding-top:15px; padding-bottom:15px; font-size:12px; background:#fff url(../images/alert.png) no-repeat right center; border: 2px solid #d70000; }
.errorBox ul, .message ul {margin:6px 0px 6px 30px;}
.errorBox ul li, .message ul li {font-weight:bold;}
.message {border:2px solid #d70000;}
.message p {margin:6px 0px 6px 30px;}
